table.Table {
  border: 6px solid #948473;
  background-color: #FFE3C6;
  width: 100%;
  text-align: center;
}
table.Table td, table.Table th {
  border: 1px solid #948473;
  padding: 4px 4px;
}
table.Table tbody td {
  font-size: 13px;
}
table.Table thead {
  background: #948473;
  background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table.Table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #948473;
}
table.Table thead th:first-child {
  border-left: none;
}

table.Table tfoot td {
  font-size: 16px;
}