.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.CONVOCATORIA { grid-area: 1 / 1 / 2 / 5; }

.FECHA Y LISTA { grid-area: 2 / 1 / 3 / 5; }

.EUROCOPA { grid-area: 3 / 1 / 4 / 5; }

.PORTEROS { grid-area: 4 / 1 / 5 / 2; }

.DEFENSAS { grid-area: 4 / 2 / 5 / 3; }

.CENTROCAMPISTAS { grid-area: 4 / 3 / 5 / 4; }

.DELANTEROS { grid-area: 4 / 4 / 5 / 5; }

.VACIO { grid-area: 8 / 1 / 14 / 2; }

.MARGEN IZQ { grid-area: 13 / 1 / 14 / 2; }
