body {
  font-family: Arial, Helvetica, sans-serif; 
  margin: 0;
  padding: 0;    
  color: rgb(10, 10, 10);                              
  text-align: left;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "noticia1 noticia2 noticia3"
    "noticia4 noticia5 noticia6"
}

.noticia1 { grid-area: noticia1;
    grid-column: 1;       
    grid-row: 1;
 }
 .noticia1_foto {       
  botton: 40px;                 
  right: 20px;                
  width: 500px;              
  height: auto;               
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));               
}

.noticia2 { grid-area: noticia2; 
    grid-column: 2;       
    grid-row: 1;
}
 .noticia2_foto {       
  botton: 40px;                 
  right: 20px;                
  width: 500px;              
  height: auto;               
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));               
}

.noticia3 { grid-area: noticia3; 
    grid-column: 3;       
    grid-row: 1;
}
 .noticia3_foto {       
  botton: 40px;                 
  right: 20px;                
  width: 500px;              
  height: auto;               
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));               
}

.noticia4 { grid-area: noticia4; 
    grid-column: 1;       
    grid-row: 2;
}
 .noticia4_foto {       
  botton: 40px;                 
  right: 20px;                
  width: 500px;              
  height: auto;               
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));               
}

.noticia5 { grid-area: noticia5; 
    grid-column: 2;       
    grid-row: 2;
}
 .noticia5_foto {       
  botton: 40px;                 
  right: 20px;                
  width: 500px;              
  height: auto;               
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));               
}

.imagen_grupo {
  display: grid; 
  grid-template-columns: auto auto; 
  grid-template-rows: auto auto; 
  gap: 0px 0px; 
  grid-auto-flow: row;
  grid-template-areas: 
    "imagen6 texto6"
    "imagen7 texto7"; 
  grid-area: noticia6; 
    grid-column: 3;       
    grid-row: 2;
}
.imagen7 { grid-area: imagen7;
  botton: 40px;                 
  right: 20px;                
  width: 350px;              
  height: auto;               
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));  

 }
 .imagen7 img, .imagen6 img {
  width: 250px;
 }
.texto6 { grid-area: texto6; 
  text-align: left;
  margin-left: 0px;
}
.texto7 { grid-area: texto7; 
  text-align: left;
}
.imagen6 { grid-area: imagen6; 
  botton: 40px;                 
  right: 20px;                
  width: 250px;              
  height: auto;               
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));  
}
      
.h1{
    color: #464141;
    font-size: 3rem;
    margin: 10px 0;
    letter-spacing: 2px; 
}
.h2 {
  color: #000000;               
  font-size: 1.5rem;
  margin: 5px 0 15px 0;
}
.h3 {
  color: #000000;                 
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.h4 {
  color: #000000;                 
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: left;
}
.texto6 {
  color: #000000;                 
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: left;
}

.texto7 {
  color: #000000;                 
  font-size: 1.5rem;
  margin-bottom: 10px;

  text-align: left;
}


footer {
  grid-column: 1 / 5;   
  grid-row: 5;
  background-color: #413f3f;  
  padding: 10px;
  font-weight: bold;
}